@orange-color: #ff340d;
@gray-color:#efefef;
@second-gray-color: #999999;
.square {
    display: inline-block;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: @gray-color;
}

// WRAPPER
.wrapper {
    position: static;
    width: 100%;
    background: white;
    height: 60px;
}

.logo {
    float: left;
    margin: 18px 0 0 36px;
}

.design {
    float: left;
    margin: 21px 0 0 70px;
    color: @orange-color;
    * {
        float: left;
        margin: 0 5px 0 0;
        font: bold 14px 'Ubuntu';
    
    }
}

.user {
    float: right;
    margin: 21px 34px 0 0px;
    color: @orange-color;
    * {
        float: left;
        margin: 0 5px 0 0;
    }
    p {
        font: 14px 'Ubuntu';
        padding: 1px 0 0 2px;
    }
}

.gray-arrow {
    padding-top: 7px;
}

//WRAPPER END

//LEFT MENU
.add-button {
    .square;
    color: white;
    width: 170px;
    height: 38px;
    background-color: @orange-color;
    font: bold 12px 'Ubuntu';
    text-transform: uppercase;
}  

.left-side {
    margin: 30px 0 0 36px;
    display: flex;
    flex-direction: column;
    width: 170px;
}
.left-menu{
    .square;
    background-color: white;
    width: 170px;
    height: 230px;
    margin-top: 30px;
    .left-menu-first{
        height: 75px;
        font: lighter 11px 'Ubuntu';
        color: @second-gray-color;
        text-transform: uppercase;
        border-bottom: 1px solid @gray-color;
        p{
            padding: 25px 30px 0 30px;
            line-height: 1.5;
        }
    }
    .left-menu-second{
        font: bold 14px 'Ubuntu';
        height: 100px;
        line-height: 1.5;
        border-bottom: 1px solid @gray-color;
        div{
            padding: 20px 0 0 30px;
        }
        ul{
            padding-left: 12px;
            li{
                list-style-image: url("../img/dot_gray.png");
                color: @orange-color;
                font-weight: 100;
            }
        }
    }
    .left-menu-third{
        font: bold 14px 'Ubuntu';
        color: @orange-color;
        padding: 17px 0 0 30px;
    }

}
//LEFT MENU END

.head-name{
    height: max-content;
    float: right;
    margin: 30px 0 0 40px;
    font: bold 30px 'Ubuntu';
    color: black;
    * {
        float: left;
        margin: 0 5px 0 0;
    }
    p {
        padding: 1px 0 0 2px;
    }
}
.black-arrow {
    padding: 20px 0 0 5px;
}

//CONTENT
.content{
    margin: 157px 0 0 245px;
    position: absolute;
    background: white;
    width: 1000px;

}
.content-head{
    position: relative;
    height: 75px;
    border-bottom: 1px solid @gray-color;
    .contend-head-left{
        color: black;
        font: 22px 'Ubuntu';
        .task-count{
            color: @second-gray-color;
        }
        *{
            margin-top: 25px;
            margin-left: 30px;
            float: left;  
        }
    }
    .contend-head-right{
        color: @orange-color;
        font: 14px 'Ubuntu';
        padding: 30px 30px 0 0; 
        *{
            float: right;
        }
        img{
            margin-right: 8px;
        }
    }
}

.filters {
    margin: 0 30px 0 30px ;
    padding-top: 20px; 
    height: 55px;
    border-bottom: 1px solid @gray-color;
    *{
        .square;
        border: 1px solid @gray-color;
        background-color: white;
        height: 30px;
       
    }
    .calendar{
        width: 150px;
        font: 14px 'Ubuntu';
        text-transform: capitalize;
    }
    .choose{
        margin-left: 20px;
        width: 200px;
        select{
            font: 14px 'Ubuntu';
            width: 200px;
            border: none;
        }
    }
    .search{
        float: right;
        width: 280px;
        *{
            border: none;
            font: 14px 'Ubuntu';
            width: 255px;
        }
        .submit-icon{
            width: 20px; 
            height: 20px; 
            border: none; 
            background: url(../img/search.png) no-repeat 50% 50%; 
        }
    }
}
.table{
    margin: 0 30px 0 30px;
    width:940px;
    border-spacing: 0; 
    border-collapse: collapse;
    text-align: left;
    table-layout: fixed;
    th{
        height: 50px;
        font: lighter 14px 'Ubuntu';
        color: @second-gray-color;
        border-bottom: 1px solid @gray-color;

    }
    td{
        text-overflow: clip;
        font: lighter 14px 'Ubuntu';
        color: black;
        height: 45px;
        border-bottom: 1px solid @gray-color;
        li {
            padding-left: 2px;
            list-style-type: disc;
        }
    }
}

.pagination {
    margin: 20px 0 25px 30px;
    float: left;
    ul {
        li {
            text-align: center;
            display: inline-block;
            vertical-align: middle ;
            height: 30px;
            width: 30px;
            margin-right: 10px; 
            background-color: @gray-color;
            font: 14px 'Ubuntu';
            color: black;
        }
    }
}
.active {
    background-color: @orange-color;
    color: white;
    font-weight: bold;  
}

.row-count{
    float: right;
    margin: 25px 20px 0 0;
    :first-child{
        color: @second-gray-color;
    }
    *{
        float: left;
        margin-right: 10px;
        font:  14px 'Ubuntu';
        color: #029cfe;
    }
}
.active-count{
    color: black;
    font-weight: bold;
}
